<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-app.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-messaging.js" defer></script>
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>

    <title>{% block title %}Flask & Firebase{% endblock %}</title>
</head>

<body>
    <div class="container-fluid frame">
        {% block body %}
        <div class="row">
            <div class="col-3 text-center">
                <button class="btn btn-primary" id="token-button">Get FCM token</button>
            </div>
            <div class="col-9">
                <input class="form-control" type="text" id="token-input"/>
            </div>
        </div>
        {% endblock%}
    </div>
</body>

</html>
